<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the app.js file is a node.js application to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="backend/server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- Don't interfere with requests for logs -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode"/>
        </rule>

        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^backend/server.js\/debug[\/]?"/>
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <!-- All other URLs are mapped to the node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="backend/server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Node.js application settings -->
    <iisnode
      node_env="production"
      loggingEnabled="true"
      devErrorsEnabled="false"
      debuggingEnabled="false"
      watchedFiles="*.js;iisnode.yml"
      enableXFF="true"/>

  </system.webServer>

  <appSettings>
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="22.17.0" />
    <add key="PORT" value="8080" />
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>